@import './fonts.scss';
@import './null.scss';

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: auto;
}

body {
  --primary-color: #e7e0ee;
  --sec-color: #f3f1f5;
  --hover-color: #11052c;
  --color: #1f1f1f;
  --text-color: #f3f1f5;
}

body[data-theme='dark'] {
  --primary-color: #0f0f0f;
  --sec-color: #1a1a1a;
  --hover-color: #ededed;
  --color: #f0f0f0;
  --text-color: #1f1f1f;
  .btn {
    background-color: violet;
    box-shadow: 0 0 10px violet;
    &:hover {
      background: violet;
      box-shadow: 0 0 15px 2px violet;
    }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
  color: var(--color);
}
.person-card {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
  background: var(--sec-color);
  border-radius: 10px;
}
.person-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
  cursor: pointer;
  /* background: var(--sec-color); */
  background: var(--hover-color);
  color: var(--text-color);
  /* color: var(--color); */
  margin-top: 1em;
  transition: all 0.4s;
}
.darkMode {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-50%);
  border-radius: 10px;
  overflow: hidden;
}
.darkMode .box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--sec-color);
  transition: all 0.4s;
}

.darkMode input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  -webkit-appearance: none;
}
.darkMode input:checked ~ .box {
  transform: rotate(180deg);
}
.darkMode input:checked ~ .box i{
  transform: rotate(180deg);
}